@model List<OrderStatusReportViewModel>
@{
    ViewData["Title"] = "Calls";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

  <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
     <form method="get" action="/AdminPanel/dashboard/Calls">
    <label for="start-date">Başlangıç Tarihi:</label>
    <input type="date" id="start-date" name="startTime" />

    <label for="end-date">Bitiş Tarihi:</label>
    <input type="date" id="end-date" name="endTime" />
          
       <div class="custom-combobox-container">
            <div class="custom-combobox" onclick="showOptions(this)">
                <input type="text" id="inputCheckbox" readonly>
                <img src="~/Admin/images/arrow.png">
            </div>
            <div class="options-container" id="divOptions" onmouseleave="hideOptions(this)">
              @foreach (var item in Model)
                    {
                          <label for="one"> <input type="checkbox" name="userId" id="@item.OperatorId" value="@item.OperatorId"> @item.OperatorName </label>
                    }
              
           
        </div>
    </div>
     <button type="submit">Filtrele</button>
</form>
  
     

          </div>
       
          <div class="row">
          

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

                         <table class="mytable">
  <tr>
    <th>Operatorun adı</th>
    <th>Sifariş götürüldü</th>
    <th>Maraqlandı</th>
     <th>Öz götürmə</th>
     <th>İmtina</th>
           <th>Geri qaytarma</th>
              
  </tr>

@foreach (var item in Model)
{
          <tr>
    <td>@item.OperatorName</td>
    <td>@item.OrderHasBeenTaken</td>
    <td>@item.WasInterested</td>
    <td>@item.TakeSelf</td>
    <td>@item.Reject</td>
    <td>@item.ReturnBack</td>
  </tr>

}

 
 
</table>
                </div>
              </div>
            </div>
         
            </div>
            </div>
             </div>

       @section Scripts
       {     <script>
        function showOptions(e) {
            let divOptions = document.getElementById("divOptions");
            if (divOptions.style.display == "none" || divOptions.style.display == "") {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }
        function clickMe(e) {
            console.log('click me');
            e.stopPropagation();
        }
        function hideOptions(e) {
            let divOptions = document.getElementById("divOptions");

            if (divOptions.contains(e.target)) {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }
    </script>

       }
       
