@model List<OrderStatusReportViewModel>
@{
    ViewData["Title"] = "Calls";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

  <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
<form method="get" action="/AdminPanel/dashboard/Calls">
    <label for="start-date">Başlangıç Tarihi:</label>
    <input type="date" id="start-date" name="startTime" />

    <label for="end-date">Bitiş Tarihi:</label>
    <input type="date" id="end-date" name="endTime" />

    <button type="submit">Filtrele</button>
</form>
 <form onsubmit="showOperators()">
    <input type="text" name="search">
    <button type="submit">Ara</button>
  </form>

<div id="operator-select" style="display:none">
 <select name="operator" multiple>
@foreach (var item in Model)
{
        <option value="@item.OperatorId">@item.OperatorName</option>
}
  
  </select>
</div>
          </div>
          <div class="row">
         
          </div>
          <div class="row">
          

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

                         <table class="mytable">
  <tr>
    <th>Operatorun adı</th>
    <th>Sifariş götürüldü</th>
    <th>Maraqlandı</th>
     <th>Öz götürmə</th>
     <th>İmtina</th>
           <th>Geri qaytarma</th>
              
  </tr>

@foreach (var item in Model)
{
          <tr>
    <td>@item.OperatorName</td>
    <td>@item.OrderHasBeenTaken</td>
    <td>@item.WasInterested</td>
    <td>@item.TakeSelf</td>
    <td>@item.Reject</td>
    <td>@item.ReturnBack</td>
  </tr>

}

 
 
</table>
                </div>
              </div>
            </div>
         
            </div>
            </div>
             </div>

       @section Scripts
       {    
           <script>
  function showOperators() {
    event.preventDefault();
    var operatorSelect = document.getElementById("operator-select");
    operatorSelect.style.display = "block";
    return true;
  }

  function selectOperator() {
    var searchInput = document.getElementById("search-input");
    var operatorSelect = document.getElementsByName("operator")[0];
    searchInput.value = operatorSelect.value;
  }

</script>
       }
       
