@model List<OrderStatusReportViewModel>
@{
    ViewData["Title"] = "Calls";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

  <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
<form method="get" action="/AdminPanel/dashboard/Calls">
    <label for="start-date">Başlangıç Tarihi:</label>
    <input type="date" id="start-date" name="startTime" />

    <label for="end-date">Bitiş Tarihi:</label>
    <input type="date" id="end-date" name="endTime" />

    <button type="submit">Filtrele</button>
</form>


          </div>
          <div class="row">
   <select id="operator-select" onchange="showOperatorName()">
  <option value="">Operatör seçin</option>
  @foreach (var item in Model)
  {
    <option value="@item.OperatorId">@item.OperatorName</option>
  }
</select>

          </div>
          <div class="row">
          

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

                         <table class="mytable">
  <tr>
    <th>Operatorun adı</th>
    <th>Sifariş götürüldü</th>
    <th>Maraqlandı</th>
     <th>Öz götürmə</th>
     <th>İmtina</th>
           <th>Geri qaytarma</th>
              
  </tr>

@foreach (var item in Model)
{
          <tr>
    <td>@item.OperatorName</td>
    <td>@item.OrderHasBeenTaken</td>
    <td>@item.WasInterested</td>
    <td>@item.TakeSelf</td>
    <td>@item.Reject</td>
    <td>@item.ReturnBack</td>
  </tr>

}

 
 
</table>
                </div>
              </div>
            </div>
         
            </div>
            </div>
             </div>

       @section Scripts
       {    <script>
           console.log("sjdh")
     const selectElement = document.getElementById('operator-select');


     selectElement.addEventListener('change', (event) => {
    const selectedValue = selectElement.value; // get selected value
    fetch('/dashboard/calls?userid=' + selectedValue)
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
  });


</script>
       }
       
