@model List<SaleVM>
@{
    ViewData["Title"] = "GardenOneSale";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="container ">
    <div class="row">

            <form method="get" action="/AdminPanel/dashboard/Calls">
    <label for="start-date">Başlangıç Tarihi:</label>
    <input type="date" id="start-date" name="startTime" />

    <label for="end-date">Bitiş Tarihi:</label>
    <input type="date" id="end-date" name="endTime" />
          
       <div class="custom-combobox-containers">
            <div class="custom-combobox" onclick="showOptions(this)">
                <input type="text" id="inputCheckbox" readonly>
                <img src="~/Admin/images/arrow.png">
            </div>
            <div class="options-container" id="divOptions" onmouseleave="hideOptions(this)">

  @foreach (var item in  ViewBag.All)
 {
       <label for="one"> <input type="checkbox" name="userId"> @item.Meyve  </label>
 }


           
        </div>
    </div>
        <div class="custom-combobox-containerproduct">
            <div class="custom-combobox" onclick="showOptionsProduct(this)">
                <input type="text" id="inputCheckbox" readonly>
                <img src="~/Admin/images/arrow.png">
            </div>
            <div class="options-container" id="divOptionsProduct" onmouseleave="hideOptionsProduct(this)">
@foreach (var item in Model)
{
    <label for="one"> <input type="checkbox" name="userId">@item.Musteri  </label>
    
}


        </div>
    </div>
     <button type="submit">Filtrele</button>
</form>


    </div>
         <div class="row">
          

            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
              <p class="card-title">Fabrik İrad Göstərisi</p>

                         <table class="mytable">
  <tr>
    <th>Müştəri</th>
    <th>Tarix</th>
    <th>Meyvə</th>
  
     <th>Meyvənin Kalibri</th>
      <th>Xalis Çəki</th>
     <th>Malın Qitməti</th>
     <th>Məbləğ</th>
  <th>Endirim</th>
       <th>Yekun Qiymət</th>
   <th>Toplam Debitor borc qalığı</th>

              
  </tr>

      @foreach (var item in Model)
     {
          <tr>
  <td> @item.Musteri</td>
  <td> </td>
  <td></td>
  <td></td>
  <td>@item.XalisCeki</td>
  <td>@item.MalinQiymeti</td>
  <td>@item.Mebleg</td>
  <td>@item.Endirim</td>
  <td>@item.YekunMebleg</td>
  <td>@item.ToplamDebitorBorc</td>

      </tr>
     }



 
 
</table>
                </div>
              </div>
            </div>
         
            </div>


</div>
       @section Scripts
       {     <script>
        function showOptions(e) {
            let divOptions = document.getElementById("divOptions");
            if (divOptions.style.display == "none" || divOptions.style.display == "") {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }
        function clickMe(e) {
            console.log('click me');
            e.stopPropagation();
        }
        function hideOptions(e) {
            let divOptions = document.getElementById("divOptions");

            if (divOptions.contains(e.target)) {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }

         function showOptionsProduct(e) {
            let divOptions = document.getElementById("divOptionsProduct");
            if (divOptions.style.display == "none" || divOptions.style.display == "") {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }
        function clickMe(e) {
            console.log('click me');
            e.stopPropagation();
        }
        function hideOptionsProduct(e) {
            let divOptions = document.getElementById("divOptionsProduct");

            if (divOptions.contains(e.target)) {
                divOptions.style.display = "inline-block";
            } else {
                divOptions.style.display = "none";
            }
        }
    </script>

       }
       

